<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <th th:if="${session.loginSession == null}">
        <a href="/member/save" class="btn btn-primary">회원가입</a>
        <a href="/member/login" class="btn btn-primary">로그인</a>
    </th>
    <th th:if="${session.loginSession != null && session.loginEmail != 'admin'}">
        <a href="/member/myPage" class="btn btn-primary">마이페이지</a>
    <th th:if="${session.loginEmail == 'admin'}">
        <a href="/member/adminPage" class="btn btn-primary">관리자 페이지</a>
    <th th:if="${session.loginSession != null}">
        <a href="/member/logout" class="btn btn-primary">로그아웃</a>
    </th>
    </th>
    </th>

</div>


</body>
</html>