<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cart_list">
  <ul class="shipping_group_list">
    <li class="goods_delivery_info clearbox" style="line-height: 24px;">

      <ul class="detail">
        <li class="silmul">
          <span class="gray_01 shipper_name">지정일배송 상품</span>


          <!-- <span id="price_" class="grp_shipping_price">무료</span> -->
        </li>
        <li style="text-align: right;line-height:17px;width:25%;">
          배송비 0원
          <br><span style="font-size:12px;">(30,000원 이상 무료배송)</span>
        </li>
      </ul>
      <ul class="detail">
        <li class="silmul" style="">
          <div class="hope">
												<span class="ship_info">희망수령일
													<span class="helpicon2 detailDescriptionLayerBtn" title="희망수령일?"></span>
													<div class="detailDescriptionLayer hide">택배를 통해 선택일 도착 <font color="red">예상</font>
														<br>※ 도서산간 지역은 수령일이 1~2일 늦어질 수 있습니다
													</div>
													<span class="hop_date_txt_159">2023-02-04</span></span>
          </div>
        </li>
        <li class="btn_area">
          <div class="detailDescriptionLayer hopCalendarLayer_159 hide" style="width:280px;height:135px;background-color:#fff;">달력</div>
          <button type="button" class="btn_resp" onclick="hop_calendar_pop_new('6', '6','159');" style="width:auto;padding:0 6px;height:26px;">희망수령일</button>
          <!--<button type="button" class="btn_resp" onclick="bundle_goods_search('6');" title="새창">묶음배송 상품보기</button>-->
          <!--<input type="button" class="btn_resp btn_shipping_modify" cart_seq="1977916" prepay_info="delivery" nation="korea" goods_seq="159" hop_date="2023-02-04" reserve_txt="" value="배송 변경" />-->
        </li>
        <input type="hidden" name="cart_seq_159" id="cart_seq_159" value="1977916">
        <input type="hidden" name="ship_grp_seq_159" id="ship_grp_seq_159" value="6">
        <input type="hidden" name="ship_set_seq_159" id="ship_set_seq_159" value="6">
        <input type="hidden" name="ship_set_code_159" id="ship_set_code_159" value="delivery">
        <input type="hidden" name="prepay_info_159" id="prepay_info_159" value="delivery">
        <input type="hidden" name="hop_select_date_159" id="hop_select_date_159" value="2023-02-04">
      </ul>
      <div id="door_pass" class="hide">
        <ul>
          <li style="padding: 5px;">
            <input type="text" name="doorPass" id="doorPass" style="width: 194px;" placeholder="(필수) 공동현관 비밀번호" maxlength="20">
          </li>
        </ul>
      </div>

    </li>
    <li class="goods_delivery_info clearbox" style="display:none;">
      <ul class="detail">
        <!--<li class="th">배송 :</li>-->
        <li class="silmul">
          <span class="gray_01">지정일배송</span>
          <!--<span>지정일배송</span>-->

          <span id="price_">무료</span>
          <div class="hope">
								<span class="ship_info">희망수령일
									<span class="helpicon2 detailDescriptionLayerBtn" title="희망수령일?"></span>
									<div class="detailDescriptionLayer hide">택배를 통해 선택일 도착 <font color="red">예상</font>
										※ 도서산간 지역은 수령일이 1~2일 늦어질 수 있습니다
									</div>
									 : <span class="hop_date_txt_159">2023-02-04</span></span>
          </div>
        </li>
        <li class="btn_area">
          <div class="detailDescriptionLayer hopCalendarLayer_159 hide" style="width:280px;height:135px;background-color:#fff;top:100px;left:5px;">달력</div>
          <button type="button" class="btn_resp" onclick="hop_calendar_pop_new('6', '6','159');">희망배송일</button>
          <!--<button type="button" class="btn_resp" onclick="bundle_goods_search('6');" title="새창">묶음배송 상품보기</button>-->
          <!--<input type="button" class="btn_resp btn_shipping_modify" cart_seq="1977916" prepay_info="delivery" nation="korea" goods_seq="159" hop_date="2023-02-04" reserve_txt="" value="배송 변경" />-->
        </li>
        <input type="hidden" name="cart_seq_159" id="cart_seq_159" value="1977916">
        <input type="hidden" name="ship_grp_seq_159" id="ship_grp_seq_159" value="6">
        <input type="hidden" name="ship_set_seq_159" id="ship_set_seq_159" value="6">
        <input type="hidden" name="ship_set_code_159" id="ship_set_code_159" value="delivery">
        <input type="hidden" name="prepay_info_159" id="prepay_info_159" value="delivery">
        <input type="hidden" name="hop_select_date_159" id="hop_select_date_159" value="2023-02-04">
      </ul>
    </li>
    <li class="cart_goods" id="cart_goods_1978991">
      <div class="cart_goods_detail">
        <div class="cgd_top">
          <label>
            <input type="hidden" name="ship_possible[1978991]" value="Y">
            <input type="checkbox" id="1978991" name="cart_option_seq[]" value="1978991" stat="Y">
            <label for="1978991" style="display: table-footer-group"></label>
            <span class="goods_name">블랙라벨 스테이크 세트</span>
          </label>
          <button type="button" class="btn_thisitem_del" value="1978991" title="상품 삭제">삭제 </button>
        </div>

        <div class="cgd_contents">
          <div class="block block1">
            <ul>
              <li class="img_area">
                <a href="../goods/view?no=159"><img src="https://sjnfzdfjrjgl1655541.cdn.ntruss.com/goods/3/2019/07/159_tmp_038c2adec65a083e8fb19e2cf7733cd75222thumbCart.jpg" class="goods_thumb" onerror="this.src='/data/skin/responsive_ver1_default_gl/images/common/noimage_list.gif'"></a>
              </li>
              <li class="option_area">

                <div class="icon_area">
                  <!--<img src="/data/skin/responsive_ver1_default_gl/images/common/taxfree.gif" alt="비과세" class="icon4" />-->
                </div>
                <div class="cart_quantity"><span>수량 : </span> 3개 <span class="add_txt">(47,700원)</span></div>


              </li>
            </ul>
          </div>
          <ul class="block block3">
            <li><button type="button" class="btn_option_modify btn_resp" id="1978991" style="margin-right: -204px;">옵션/수량변경</button></li>
            <!--li><button type="button" class="btn_option_modify btn_resp" id="1978991">옵션/수량변경</button></li-->
            <li><button type="button" class="btn_direct_buy btn_resp color2 hide" value="1978991">바로구매</button></li>
          </ul>
          <ul class="block block2" id="mobile_cart_sale_tr_1978991">
            <li class="price_a hide">
              <span class="ptitle">상품금액</span> 47,700원
            </li>
            <li class="price_b hide">
									<span class="ptitle">
										할인금액
									</span>
              -&nbsp;

              <div id="cart_sale_detail_1978991" class="resp_layer_pop hide" style="display: none;">
                <h4 class="title">할인 내역</h4>
                <div class="y_scroll_auto2">
                  <div class="layer_pop_contents v5">
                    <div class="resp_1line_table">
                      <ul id="mobile_cart_option_event_saletr_1978991" class="hide">
                        <li class="th size1"><p>이벤트</p></li>
                        <li class="td"><span id="mobile_cart_option_event_saleprice_1978991">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_multi_saletr_1978991" class="hide">
                        <li class="th size1"><p>대량구매</p></li>
                        <li class="td"><span id="mobile_cart_option_multi_saleprice_1978991">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_referer_saletr_1978991" class="hide">
                        <li class="th size1"><p>유입경로</p></li>
                        <li class="td"><span id="mobile_cart_option_referer_saleprice_1978991">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_member_saletr_1978991" class="hide">
                        <li class="th size1"><p>등급할인</p></li>
                        <li class="td"><span id="mobile_cart_option_member_saleprice_1978991">0원</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="layer_bottom_btn_area2">
                  <button type="button" class="btn_resp size_c color5 Wmax" onclick="hideCenterLayer()">확인</button>
                </div>
                <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
              </div>

            </li>
            <li class="price_c" style=" margin-top: 39px;">
              <span class="ptitle">상품금액</span>
              <span class="total_p" id="option_suboption_price_sum_1978991"><span class="num">47,700</span>원</span>
            </li>
          </ul>
        </div>

        <!-- 옵션 수량변경 Layer -->
        <div id="optional_changes_area_1978991" class="resp_layer_pop maxHeight hide" style="display: none;">
          <h4 class="title">옵션/수량 변경</h4>
          <div class="y_scroll_auto">
            <div class="layer_pop_contents v2 Pb70">
              <!--h5 class="stitle">블랙라벨 스테이크 세트</h5-->
              <div id="onContent">
                옵션/수량 변경 컨텐츠
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
        </div>

      </div>
    </li>
    <li class="cart_goods" id="cart_goods_1978990">
      <div class="cart_goods_detail">
        <div class="cgd_top">
          <label>
            <input type="hidden" name="ship_possible[1978990]" value="Y">
            <input type="checkbox" id="1978990" name="cart_option_seq[]" value="1978990" stat="Y">
            <label for="1978990" style="display: table-footer-group"></label>
            <span class="goods_name">아메리칸 바베큐 폭립</span>
          </label>
          <button type="button" class="btn_thisitem_del" value="1978990" title="상품 삭제">삭제 </button>
        </div>

        <div class="cgd_contents">
          <div class="block block1">
            <ul>
              <li class="img_area">
                <a href="../goods/view?no=936"><img src="https://sjnfzdfjrjgl1655541.cdn.ntruss.com/goods/3/2021/08/936_tmp_0c4249a548e5a3d73a46e5fd726e7bbc6238thumbCart.jpg" class="goods_thumb" onerror="this.src='/data/skin/responsive_ver1_default_gl/images/common/noimage_list.gif'"></a>
              </li>
              <li class="option_area">

                <div class="cart_quantity"><span>수량 : </span> 1개 <span class="add_txt">(12,100원)</span></div>


              </li>
            </ul>
          </div>
          <ul class="block block3">
            <li><button type="button" class="btn_option_modify btn_resp" id="1978990" style="margin-right: -204px;">옵션/수량변경</button></li>
            <!--li><button type="button" class="btn_option_modify btn_resp" id="1978990">옵션/수량변경</button></li-->
            <li><button type="button" class="btn_direct_buy btn_resp color2 hide" value="1978990">바로구매</button></li>
          </ul>
          <ul class="block block2" id="mobile_cart_sale_tr_1978990">
            <li class="price_a hide">
              <span class="ptitle">상품금액</span> 12,100원
            </li>
            <li class="price_b hide">
									<span class="ptitle">
										할인금액
									</span>
              -&nbsp;

              <div id="cart_sale_detail_1978990" class="resp_layer_pop hide" style="display: none;">
                <h4 class="title">할인 내역</h4>
                <div class="y_scroll_auto2">
                  <div class="layer_pop_contents v5">
                    <div class="resp_1line_table">
                      <ul id="mobile_cart_option_event_saletr_1978990" class="hide">
                        <li class="th size1"><p>이벤트</p></li>
                        <li class="td"><span id="mobile_cart_option_event_saleprice_1978990">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_multi_saletr_1978990" class="hide">
                        <li class="th size1"><p>대량구매</p></li>
                        <li class="td"><span id="mobile_cart_option_multi_saleprice_1978990">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_referer_saletr_1978990" class="hide">
                        <li class="th size1"><p>유입경로</p></li>
                        <li class="td"><span id="mobile_cart_option_referer_saleprice_1978990">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_member_saletr_1978990" class="hide">
                        <li class="th size1"><p>등급할인</p></li>
                        <li class="td"><span id="mobile_cart_option_member_saleprice_1978990">0원</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="layer_bottom_btn_area2">
                  <button type="button" class="btn_resp size_c color5 Wmax" onclick="hideCenterLayer()">확인</button>
                </div>
                <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
              </div>

            </li>
            <li class="price_c" style=" margin-top: 39px;">
              <span class="ptitle">상품금액</span>
              <span class="total_p" id="option_suboption_price_sum_1978990"><span class="num">12,100</span>원</span>
            </li>
          </ul>
        </div>

        <!-- 옵션 수량변경 Layer -->
        <div id="optional_changes_area_1978990" class="resp_layer_pop maxHeight hide" style="top: 50%; left: 50%; margin-left: -351px; margin-top: -449.5px; border: 1px solid rgb(97, 163, 72); display: none;">
          <h4 class="title">옵션/수량 변경</h4>
          <div class="y_scroll_auto" style="max-height: 817px; min-height: 817px;">
            <div class="layer_pop_contents v2 Pb70">
              <!--h5 class="stitle">아메리칸 바베큐 폭립</h5-->
              <div id="onContent"><!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++
@@ 옵션/수량 변경 @@
- 파일위치 : [스킨폴더]/order/_optional_changes.html
++++++++++++++++++++++++++++++++++++++++++++++++++++ -->




                <link rel="stylesheet" type="text/css" href="/app/javascript/plugin/jquploadify/uploadify.css">
                <link href="/app/javascript/plugin/jquery_selectbox/css/jquery.selectbox.css" type="text/css" rel="stylesheet">

                <form name="optional_changes_form" id="optional_changes_form" method="post" enctype="multipart/form-data" action="/order/optional_modify" target="actionFrame">
                  <input type="hidden" name="mode" value="">
                  <input type="hidden" name="cart_option_seq" value="1978990">
                  <input type="hidden" name="hop_select_date" value="">
                  <input type="hidden" name="shipping_prepay_info" value="delivery">
                  <input type="hidden" name="shipping_store_seq" value="0">

                  <ul class="resp_content2">
                    <li><a href="/goods/view?no=936" target="_blank" title="새창"><img src="https://sjnfzdfjrjgl1655541.cdn.ntruss.com/goods/3/2021/08/936_tmp_0c4249a548e5a3d73a46e5fd726e7bbc6238thumbView.jpg" onerror="this.src='/data/skin/responsive_ver1_default_gl/images/common/noimage.gif'" alt="" style="max-width:80px; border:1px #eee solid;"></a></li>
                    <li><span class="Fs14 gray_01">아메리칸 바베큐 폭립</span></li>
                  </ul>

                  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++
                  @@ 상품 옵션 @@
                  - 파일위치 : [스킨폴더]/goods/_select_options.html
                  ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->





                  <link rel="stylesheet" type="text/css" href="/app/javascript/plugin/jquploadify/uploadify.css">
                  <link rel="stylesheet" type="text/css" href="/app/javascript/plugin/jquery_selectbox/css/jquery.selectbox.mobile.css">
                  <link rel="stylesheet" type="text/css" href="/data/skin/responsive_ver1_default_gl/css/buttons.css">


                  <div id="select_option_lay">
                    <input type="hidden" name="option_select_goods_seq" value="936">
                    <input type="hidden" name="option_select_provider_seq" value="3">
                    <input type="hidden" name="gl_option_select_ver" value="0.1">
                    <input type="hidden" name="use_add_action_button" value="n">

                    <div class="goods_option_area">
                      <input type="hidden" name="option[0][0]" class="selected_options" value="" opt_seq="0" opt_group="0">
                      <input type="hidden" name="optionTitle[0][0]" class="selected_options_title" value="" opt_seq="0" opt_group="0">
                      <input type="hidden" name="exist_option_seq[]" class="cart_option_seq" value="1978990">
                      <table align="left" border="0" cellpadding="1" cellspacing="0">
                        <tbody><tr>
                          <td class="single_num_change">
                            <span class="tle">수량 :</span>
                            <button type="button" class="btn_graybox eaMinus">-</button><input type="text" name="optionEa[0]" value="1" class="onlynumber ea_change" style="text-align:center; width:31px; height:31px; border:1px solid #d0d0d0;"><button type="button" class="btn_graybox eaPlus">+</button>
                            <div style="display:none" class="optionPrice">12100</div>
                            <div style="display:none" class="consumer_price">13900.00</div>
                          </td>
                        </tr>
                        </tbody></table>
                      <!-- 옵션 선택 영역 끝 -->

                      <!-- 추가옵션 시작 -->
                      <!-- 추가옵션 끝 -->




                      <!-- 선택된 옵션 노출 영역 시작( 장바구니에 해당 ) -->
                      <div class="goods_quantity_table_container">
                        <table class="goods_quantity_table" cellpadding="0" cellspacing="0">
                          <input type="hidden" name="exist_option_seq[0]" class="cart_option_seq" value="1978990">

                        </table>
                      </div>
                      <!-- 선택된 옵션 노출 영역 끝 -->
                    </div>
                  </div>

                  <div class="layer_bottom_btn_area_cart v2">
                    <ul class="basic_btn_area2 v2">
                      <li class="Pt5">총 금액 : <span id="total_goods_price" class="pointcolor">12,100</span><span class="Fs15">원</span></li>
                      <li style="width:45%;"><button type="button" id="change_cart" class="btn_resp size_c color2">변경하기</button></li>
                    </ul>
                  </div>
                </form></div>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
        </div>

      </div>
    </li>
    <li class="cart_goods" id="cart_goods_1978992">
      <div class="cart_goods_detail">
        <div class="cgd_top">
          <label>
            <input type="hidden" name="ship_possible[1978992]" value="Y">
            <input type="checkbox" id="1978992" name="cart_option_seq[]" value="1978992" stat="Y">
            <label for="1978992" style="display: table-footer-group"></label>
            <span class="goods_name">탐나는밥상 봉골레 파스타</span>
          </label>
          <button type="button" class="btn_thisitem_del" value="1978992" title="상품 삭제">삭제 </button>
        </div>

        <div class="cgd_contents">
          <div class="block block1">
            <ul>
              <li class="img_area">
                <a href="../goods/view?no=1409"><img src="https://sjnfzdfjrjgl1655541.cdn.ntruss.com/goods/3/2022/11/1409_tmp_f4ca979ce8a0354bc2c6a44c9a3852db1924thumbCart.jpg" class="goods_thumb" onerror="this.src='/data/skin/responsive_ver1_default_gl/images/common/noimage_list.gif'"></a>
              </li>
              <li class="option_area">

                <div class="cart_quantity"><span>수량 : </span> 1개 <span class="add_txt">(9,900원)</span></div>


              </li>
            </ul>
          </div>
          <ul class="block block3">
            <li><button type="button" class="btn_option_modify btn_resp" id="1978992" style="margin-right: -204px;">옵션/수량변경</button></li>
            <!--li><button type="button" class="btn_option_modify btn_resp" id="1978992">옵션/수량변경</button></li-->
            <li><button type="button" class="btn_direct_buy btn_resp color2 hide" value="1978992">바로구매</button></li>
          </ul>
          <ul class="block block2" id="mobile_cart_sale_tr_1978992">
            <li class="price_a hide">
              <span class="ptitle">상품금액</span> 9,900원
            </li>
            <li class="price_b hide">
									<span class="ptitle">
										할인금액
									</span>
              -&nbsp;

              <div id="cart_sale_detail_1978992" class="resp_layer_pop hide" style="display: none;">
                <h4 class="title">할인 내역</h4>
                <div class="y_scroll_auto2">
                  <div class="layer_pop_contents v5">
                    <div class="resp_1line_table">
                      <ul id="mobile_cart_option_event_saletr_1978992" class="hide">
                        <li class="th size1"><p>이벤트</p></li>
                        <li class="td"><span id="mobile_cart_option_event_saleprice_1978992">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_multi_saletr_1978992" class="hide">
                        <li class="th size1"><p>대량구매</p></li>
                        <li class="td"><span id="mobile_cart_option_multi_saleprice_1978992">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_referer_saletr_1978992" class="hide">
                        <li class="th size1"><p>유입경로</p></li>
                        <li class="td"><span id="mobile_cart_option_referer_saleprice_1978992">0원</span></li>
                      </ul>
                      <ul id="mobile_cart_option_member_saletr_1978992" class="hide">
                        <li class="th size1"><p>등급할인</p></li>
                        <li class="td"><span id="mobile_cart_option_member_saleprice_1978992">0원</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="layer_bottom_btn_area2">
                  <button type="button" class="btn_resp size_c color5 Wmax" onclick="hideCenterLayer()">확인</button>
                </div>
                <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
              </div>

            </li>
            <li class="price_c" style=" margin-top: 39px;">
              <span class="ptitle">상품금액</span>
              <span class="total_p" id="option_suboption_price_sum_1978992"><span class="num">9,900</span>원</span>
            </li>
          </ul>
        </div>

        <!-- 옵션 수량변경 Layer -->
        <div id="optional_changes_area_1978992" class="resp_layer_pop maxHeight hide" style="display: none;">
          <h4 class="title">옵션/수량 변경</h4>
          <div class="y_scroll_auto">
            <div class="layer_pop_contents v2 Pb70">
              <!--h5 class="stitle">탐나는밥상 봉골레 파스타</h5-->
              <div id="onContent">
                옵션/수량 변경 컨텐츠
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
        </div>

      </div>
    </li>
  </ul>
  <ul class="shipping_group_list">
  </ul>
</div>

</body>
</html>