<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cart_goods_detail">
  <div class="cgd_top">
    <label>
      <input type="hidden" name="ship_possible[1978991]" value="Y">
      <input type="checkbox" id="1978991" name="cart_option_seq[]" value="1978991" stat="Y">
      <label for="1978991" style="display: table-footer-group"></label>
      <span class="goods_name">블랙라벨 스테이크 세트</span>
    </label>
    <button type="button" class="btn_thisitem_del" value="1978991" title="상품 삭제">삭제 </button>
  </div>

  <div class="cgd_contents">
    <div class="block block1">
      <ul>
        <li class="img_area">
          <a href="../goods/view?no=159"><img src="https://sjnfzdfjrjgl1655541.cdn.ntruss.com/goods/3/2019/07/159_tmp_038c2adec65a083e8fb19e2cf7733cd75222thumbCart.jpg" class="goods_thumb" onerror="this.src='/data/skin/responsive_ver1_default_gl/images/common/noimage_list.gif'"></a>
        </li>
        <li class="option_area">

          <div class="icon_area">
            <!--<img src="/data/skin/responsive_ver1_default_gl/images/common/taxfree.gif" alt="비과세" class="icon4" />-->
          </div>
          <div class="cart_quantity"><span>수량 : </span> 3개 <span class="add_txt">(47,700원)</span></div>


        </li>
      </ul>
    </div>
    <ul class="block block3">
      <li><button type="button" class="btn_option_modify btn_resp" id="1978991" style="margin-right: -204px;">옵션/수량변경</button></li>
      <!--li><button type="button" class="btn_option_modify btn_resp" id="1978991">옵션/수량변경</button></li-->
      <li><button type="button" class="btn_direct_buy btn_resp color2 hide" value="1978991">바로구매</button></li>
    </ul>
    <ul class="block block2" id="mobile_cart_sale_tr_1978991">
      <li class="price_a hide">
        <span class="ptitle">상품금액</span> 47,700원
      </li>
      <li class="price_b hide">
									<span class="ptitle">
										할인금액
									</span>
        -&nbsp;

        <div id="cart_sale_detail_1978991" class="resp_layer_pop hide" style="display: none;">
          <h4 class="title">할인 내역</h4>
          <div class="y_scroll_auto2">
            <div class="layer_pop_contents v5">
              <div class="resp_1line_table">
                <ul id="mobile_cart_option_event_saletr_1978991" class="hide">
                  <li class="th size1"><p>이벤트</p></li>
                  <li class="td"><span id="mobile_cart_option_event_saleprice_1978991">0원</span></li>
                </ul>
                <ul id="mobile_cart_option_multi_saletr_1978991" class="hide">
                  <li class="th size1"><p>대량구매</p></li>
                  <li class="td"><span id="mobile_cart_option_multi_saleprice_1978991">0원</span></li>
                </ul>
                <ul id="mobile_cart_option_referer_saletr_1978991" class="hide">
                  <li class="th size1"><p>유입경로</p></li>
                  <li class="td"><span id="mobile_cart_option_referer_saleprice_1978991">0원</span></li>
                </ul>
                <ul id="mobile_cart_option_member_saletr_1978991" class="hide">
                  <li class="th size1"><p>등급할인</p></li>
                  <li class="td"><span id="mobile_cart_option_member_saleprice_1978991">0원</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="layer_bottom_btn_area2">
            <button type="button" class="btn_resp size_c color5 Wmax" onclick="hideCenterLayer()">확인</button>
          </div>
          <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
        </div>

      </li>
      <li class="price_c" style=" margin-top: 39px;">
        <span class="ptitle">상품금액</span>
        <span class="total_p" id="option_suboption_price_sum_1978991"><span class="num">47,700</span>원</span>
      </li>
    </ul>
  </div>

  <!-- 옵션 수량변경 Layer -->
  <div id="optional_changes_area_1978991" class="resp_layer_pop maxHeight hide" style="display: none;">
    <h4 class="title">옵션/수량 변경</h4>
    <div class="y_scroll_auto">
      <div class="layer_pop_contents v2 Pb70">
        <!--h5 class="stitle">블랙라벨 스테이크 세트</h5-->
        <div id="onContent">
          옵션/수량 변경 컨텐츠
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="btn_pop_close" onclick="hideCenterLayer()"></a>
  </div>

</div>

</body>
</html>